<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <style>
        body {
            background-color: lightcyan;
        }

        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            width: 150px;
            height: 150px;
            font-size: 30px;
            text-align: center;
        }

        td>a {
            font-size: 18px;
        }
    </style>
</head>

<body>
    {% block body %}

    {% endblock %}
</body>

</html>